<!DOCTYPE html>
<html data-require="math math-format symbolab subhints">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ exercise.title }}</title>
        <script type="text/javascript" src="../khan-exercise.js"></script>
        <style type="text/css">
            .problem { font-size: 150%; text-align: center; }
        </style>
    </head>
    <body>
        <div class="exercise">
            <div class="problems"/>
            {% for problem in exercise.problems %}
                <div id="{{problem.exid}}">
                    <p class="question">
                        {{problem.title}}
                    </p>
                    <p class="problem">
                        {{problem.latex|latex}}
                    </p>
                    <div class="solution" data-type="symbolab" data-buttons="{{problem.latex_buttons}}"></div>
                    <div class="hints" style="direction:ltr">
                        {% for step in problem.solution.steps %}
                            {% if step.title %}
                                <div style="direction:{{step.title.text.createdText|direction}}">
                                    {% if step.general_rule %}
                                    <p>
                                        <a href="#" class="show-definition" data-definition="subhint-{{ problem.exid }}-{{ loop.index }}">
                                            <b>{{step.title.text.createdText|latex}}</b>
                                        </a>
                                        <div id="subhint-{{ problem.exid }}-{{ loop.index }}"
                                                class="subhint"
                                                style="direction:{{step.general_rule.text.createdText|direction}}">
                                            {{step.general_rule.text.createdText|latex}}
                                        </div>
                                    </p>
                                    {% else %}
                                        <p>{{step.title.text.createdText|latex}}</p>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if step.isInterimStep %}
                                {% set last_substep = step.steps[-1] %}
                                <div>
                                    <p style="direction:{{last_substep.entire_result|direction}}">
                                        <a href="#" class="show-definition" data-definition="interim-{{ problem.exid }}-{{ loop.index }}">
                                            <b>{{last_substep.entire_result|latex}}</b>
                                        </a>
                                    </p>
                                    <div id="interim-{{ problem.exid }}-{{ loop.index }}" class="subhint">
                                        {% for substep in step.steps %}
                                            {% if not loop.first %} <hr class="thin"> {% endif %}
                                            <div>
                                                {% if substep.title %}
                                                    <p style="direction:{{substep.title.text.createdText|direction}}">
                                                        {{substep.title.text.createdText|latex}}
                                                    </p>
                                                {% endif %}
                                                <p style="direction:{{substep.entire_result|direction}}">
                                                    {{substep.entire_result|latex}}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% for explanation in step.explanation %}
                                <div style="direction:{{explanation.createdText|direction}}">
                                    <p>{{explanation.createdText|latex}}</p>
                                </div>
                            {% endfor %}
                            {% if (not step.isAddEquals) %}
                                <div style="direction:{{step.entire_result|direction}}">
                                    <p>{{step.entire_result|latex}}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}
            </div>
        </div>
    </body>
</html>
