<!DOCTYPE html>
<html data-require="math math-format symbolab subhints">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ exercise.title }}</title>
        <script type="text/javascript" src="../khan-exercise.js"></script>
        <style type="text/css">
            .problem { font-size: 150%; text-align: center; }
            .show-definition { text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
            .general-rule {
                border: 1px solid #aaaaaa;
                background: #f9f9f9;
                display: inline;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                margin-right: 20px;
                margin-left: 20px;
                padding: 10px;
            }
            #hintsarea > div {
                border-top: 1px dashed #DDD;
            }
        </style>
    </head>
    <body>
        <div class="exercise">
            <div class="problems">
            {% for problem in exercise.problems %}
                <div id="{{problem.exid}}">
                    <p class="question">
                        {{problem.title}}
                    </p>
                    <p class="problem">
                        {{problem.latex|latex}}
                    </p>
                    <div class="solution" data-type="symbolab" data-buttons="{{problem.latex_buttons}}"></div>
                    <div class="hints" style="direction:ltr">
                        {% for step in problem.solution.steps %}
                            {% if step.title %}
                                <div style="direction:{{step.title.text.createdText|direction}}">
                                    <p>
                                    {{step.title.text.createdText|latex}}
                                    {% if step.general_rule %}
                                        <span class="general-rule" style="direction:{{step.general_rule.text.createdText|direction}}">
                                            {{step.general_rule.text.createdText|latex}}
                                        </span>
                                    {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                            {% if step.isInterimStep %}
                                {% set last_substep = step.steps[-1] %}
                                <div>
                                    <p style="direction:{{last_substep.entire_result|direction}}">
                                        <a class="show-definition hint_blue" data-definition="interim-{{ problem.exid }}-{{ loop.index }}">
                                            <strong>{{last_substep.entire_result|latex}}</strong>
                                        </a>
                                    </p>
                                    <div id="interim-{{ problem.exid }}-{{ loop.index }}" class="subhint">
                                        {% for substep in step.steps %}
                                            {% if not loop.first %} <hr class="thin"> {% endif %}
                                            <div>
                                                {% if substep.title %}
                                                    <p style="direction:{{substep.title.text.createdText|direction}}">
                                                        {{substep.title.text.createdText|latex}}
                                                    </p>
                                                {% endif %}
                                                <p style="direction:{{substep.entire_result|direction}}">
                                                    {{substep.entire_result|latex}}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% for explanation in step.explanation %}
                                <div style="direction:{{explanation.createdText|direction}}">
                                    <p>{{explanation.createdText|latex}}</p>
                                </div>
                            {% endfor %}
                            {% if (not step.isAddEquals) %}
                                <div style="direction:{{step.entire_result|direction}}">
                                    <p>{{step.entire_result|latex}}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}
            </div>
        </div>
    </body>
</html>
